.container {
  background: linear-gradient(rgba(114, 114, 255, 0.568), rgb(255, 255, 255)), url('/public/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  width: 100%;
}

.main-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  flex-direction: column;
  position: relative;
}

.sub-title {
  color: #fff;
  font-family: 'twaysky';
  position: absolute;
  top: -15px;
  width: 500px;
  text-indent: 60px;
  text-shadow: 0 0 50px #fff, 0 2px 20px rgb(76, 69, 151);
}

.main-title {
  font-size: 3.5rem;
  line-height: 4.55rem;
  font-family: 'twaysky';
  margin-top: 10px;
  color: #fff;
  text-shadow: 0 0 50px #fff, 0 2px 20px rgb(76, 69, 151);
  width: auto;
  position: relative;
  display: inline-block;
}

.main-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 95%;
  background-color: #fff;
  animation-name: cursorAni;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes cursorAni {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'twaysky';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
